.main-cont {
  display: flex;
}

.grid-cont {
  display:grid;
  grid-template-columns: repeat(25, 20px);
}

.cell-active {
  background-color: rgb(192, 0, 0);
  width: 20px;
  height: 20px;
  border: solid 1px rgb(58, 47, 47);
}

.cell-inactive {
  background-color: rgb(255, 231, 231);
  width: 20px;
  height: 20px;
  border: solid 1px rgb(58, 47, 47);
}